/* .side {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ad0707;
    padding-top: 20px;
    
  }
  
  .sidebar  {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
  }
   */
   .side {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
   
    
}
.sidebar {
    width: 250px;
    background-color: #05192c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    top:0;
    width: 220px;
    padding: 10px;
}
.sidebar img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.sidebar h2 {
    margin: 10px 0;
}
.sidebar a {
   
    color: white;
    padding: 10px 20px;
    display: block;
    width: 100%;
    text-align: center;
}
.sidebar a:hover {
    text-decoration: none;
}
