

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*navbar
.nav{
  --bs-scroll-height: 100px;
}*/

/*Home*/
.ccc{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: rgb(128, 4, 4);
 }
 .hom1{
 margin-left: 35px;
 
 }
 .ddd{
  text-align: center;
  color: #000;
 }
 
 .bbb{
  background-color: rgb(173, 5, 5);
border: none;
color: #e4dddd;
position: relative;
width: 209px;
height: 34px;
 }
 .aaa{
  text-align: center;
 }
 .title{
color: #f0ecec;
 }
/*About*/

.zzz{
  
  margin-right: 35px;
  margin-left: 30px;
margin-top: 25px;
 }
 .xyz{
  text-align: justify;
  color: #000;
 }
 .yyy{
  text-align: right;
  color: rgb(61, 37, 37);
 }
 .tit{
  text-align:justify;
 }
/*Login*/

.log1{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;

}
.buttonn{
  background-color:rgb(173, 5, 5);
border: none;
color: #f8f5f5;
position: relative;
width: 230px;
height: 34px;
}
.forgot{
  color: blue;
}


/*Footer*/
.dark{
  background-color: rgb(26, 25, 25);
 
}

.line{
  border-width: 20px;
  background:rgb(102, 100, 100) ;
}
/*register*/
.button{
background-color: rgb(173, 5, 5);
border: none;
color: #e4dddd;
position: absolute;
width: 209px;
height: 34px;

}
.topic{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: rgb(15, 15, 15);
}
.outline{
  border: 2px solid rgb(238, 182, 182);
  box-shadow: 2px  9px 1px 5px,-9px  -9px 1px 9px;
height: 950px;
width: 900px;
position: relative;
}


/*.abcd{
  border: 1px solid rgb(61, 37, 37);
  position: relative;
  height: 1010px;
  width: 1090px;
  bottom: 150px;
  top: 150px;
  left: 150px;
right: 150px;
}*/
/*superlogin*/
/*forgot*/
.borderr{
  border: 2px solid rgb(34, 6, 6);
  box-shadow: 7px  9px 10px 5px,-9px  -9px 10px 1px;
  
  width: 950px;
  height: 450px;
  position: relative;
 
}
.buttonnn{
  background-color:rgb(34, 8, 8);
border: none;
color: #f8f5f5;
position: relative;
width: 230px;
height: 34px;
}